@{
    ViewBag.Title = "Home Page";
}



<h1 style="text-align:center; font-size:50px;color:forestgreen;font-family:Elephant;font-style:italic;margin-top:40px;">ONLİNE TİCARİ OTOMASYON PROJESİNE HOŞGELDİNİZ</h1>

<h6 style="text-align:center; font-size:35px;font-family:Elephant;font-style:initial;margin-top:20px;">Yapmak istediğiniz işlemi lütfen yandaki menüden seçiniz!</h6>

<div style="text-align:center;margin-top:15px;">
    <img src="/Image/resim1.jpg" height="560px;"width="100%;"/>
</div>
<br />