@model MvcOnlineTicariOtomasyon.Models.Classes.Department
@{
    ViewBag.Title = "DepartmentAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 style="text-align:center; font-size:50px;color:forestgreen;font-family:Elephant;font-style:italic;">Yeni Departman Ekleme</h1>
<br />

<form class="form-group" method="post">

    <label>Departman Adı</label>
    @*@Html.LabelFor(x => x.Name)*@
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @*
        <h6>Kategori Adı</h6>
        <input class="form-control" />
        <br />
    *@
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

