@model MvcOnlineTicariOtomasyon.Models.Classes.Department
@{
    ViewBag.Title = "DepartmentGet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 style="text-align:center; font-size:50px;color:forestgreen;font-family:Elephant;font-style:italic;">Departman Güncelleme</h1>
<br />


@using (Html.BeginForm("DepartmentUpdate", "Department", FormMethod.Post))
{
    <div class="form-group">
        <label>Departman Adı</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.HiddenFor(x => x.Id)
    </div>
    <button class="btn btn-primary">Güncelle</button>
}


